form {
    min-width: 200px; 
    width: fit-content;
    padding: 15px;
}

.my-form-group {
    min-width: 300px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    gap: 8px;
}

.my-form-group input[type="text"], .my-form-group textarea, .my-form-group select option {
    padding: 12px;
}

.my-label {
    font-size: 16px;
    font-family: arial;
    font-weight: 300;
    /*color: #29333f;*/
    color: grey;
    /*text-decoration: underline;*/
}

input, select, textarea, my-button {
    font-family: Arial;
    min-width: 185px;
    box-sizing: border-box;
    border-radius: 10px;
    border-style: inset solid;
    min-height: 50px;
    border-width: 2px;
    border-color: lightgray;
}

.my-input {
    font-size: 16px;
    color: black;
}

.my-text-area-label {
    /*align-self: flex-start;*/
}

.my-text-area {
    height: 150px;
    font-family: Arial;
    /*padding: 5px;*/
}

.my-select {
    /* background-color: red; */
    height: 50px;
    padding: 5px 5px;
    font-size: 17px;
}

.my-button {
    margin-top: 25px;
    margin-left: 15px;
    width: 100px;
    min-height: 40px;
    padding: 5px 12px;
    box-sizing: border-box;
    border-radius: 10px;
    border-style: inset solid;
    border-width: 2px;
    border-color: #0a375a;
    background-color: #0a375a;
    color: lightgray;
    font-weight: 600;
}

.my-button:hover {
    cursor: pointer;
}

