################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Models/Destination.cs
/Models/Geography.cs
/Models/Tip.cs
/Models/TravelCategory.cs
