@*the model must be at the top of the page*@
@* the model must be the one that the controller is refering to *@

@{
    ViewBag.Title = "Home Page";

}

<div class="my-home-container">
    <div class="my-left-aside-container">
        <h2>Tips for the Trip</h2>
        @foreach (var tip in Model)
        {
            <div class="my-left-aside-card">
                <h3 class="card-tip-title">@tip.Title</h3>
                <p class="card-tip-text">@tip.TipText</p>
            </div>
        }
    </div>

    @* templates for each card in each category section *@
    <main class="my-main-section">

        <h2 class="my-section-title">Travel locations</h2>
        <section class="my-section-container">
            @foreach (var category in Model)
            {
  
            }

            <h3 id="my-travel-category-1">Category 1</h3>
            <div class="my-travel-section">
                <a class="my-clickable-card-container" href="#">
                    <article class="my-section-card">
                        <img src="images/travel/venice.jpeg">
                        <div class="card-body">
                            <div class="titles-container">
                                <h4>Travel Destination Name</h4>
                                <h5>Location is over at this</h5>
                            </div>
                            <p>lorem ipsun dolore a das hagen das asdasd asd asd adsad  asdasd dsasd dsf aaer dfadf rewer afachocolate chip icecream is delicious and also.</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>




        <section class="my-section-container">
            <h3 id="my-travel-category-2">Category 2</h3>
            <div class="my-travel-section">
                <a class="my-clickable-card-container" href="#">
                    <article class="my-section-card">
                        <img src="images/travel/beach-volcanoe.jpeg">
                        <div class="card-body">
                            <div class="titles-container">
                                <h4>Travel Destination Name</h4>
                                <h5>Location is over at this</h5>
                            </div>
                            <p>lorem ipsun dolore a das hagen das chocolate chip icecream is delicious and also</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>

        <section class="my-section-container">
            <h3 id="my-travel-category-3">Category 3</h3>
            <div class="my-travel-section">
                <a class="my-clickable-card-container" href="#">
                    <article class="my-section-card">
                        <img src="images/travel/australia.jpeg">
                        <div class="card-body">
                            <div class="titles-container">
                                <h4>Travel Destination Name</h4>
                                <h5>Location is over at this</h5>
                            </div>
                            <p>lorem ipsun dolore a das hagen das chocolate chip icecream is delicious and also</p>
                        </div>
                    </article>
                </a>
            </div>
        </section>
    </main>
    <div class="my-slideshow-container"></div>
</div>
